 * {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(35,35, 35);
}
 nav {
     width: 100vw;
     height: 10vh;
     margin-top: 5vh;
    
     display: flex;
 }
 
 .logo{
     
     font-size: 20px;
     cursor: pointer;
     width: 5vw;
     margin-left: 5vw;
     color: white;
 }

 ul{
     width: 55vw;
     height: 5vh;
     text-align: center;
     margin-left: 35vw;
     
 }
 ul li {
     display: inline;
     cursor: pointer;
     font-size: 25px;
    margin-right: 2vw;
     margin-left: 2vw;
     color: rgb(128,128, 128);
 }

 ul li:hover {
     color:white;
     transition: 0,3s;
     border-bottom: solid 1px white;
 }